/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Tangerine:300,700');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');


body{
    background: #2e9ce6;
    padding: 3em;
    font-family: 'Tangerine',serif;
    color: #fff;
}

ul{
    list-style-type: none;
    margin: 0 0 2em 0;
    padding: 0;
}
ul li{
    display: inline;
    margin-right: 30px;
}
ul li a {
    font-size: 30px;
    cursor: pointer;
}
a {
    text-decoration: none;
    color: #fff;
}
p {
    font-size: 25px;
}