
.container {
    display: grid;
    grid-template-columns: 50% auto;
}

.col {
    padding: 0em 1.3em;
}

.color-dark {
    background: #2885c4;
}
.color-light {
    background: #00BCD4;
}
input.txt {
    border: 0;
    padding: 1em;
    width: 100%;
    margin-bottom: 2em;
}
input.btn {
    border: 0;
    display: block;
    padding: 1em 3em;
    background: #a5f883;
    color: #003161;
    margin-bottom: 1em;
    cursor: pointer;
}
.life-container {
    background: #3f51b5;
    padding: .5em;
    font-weight: bold;
    
}
.delete-list{
    cursor: pointer;
    float: right;
}